{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
<!-- HEAD css / scripts -->
{% endblock %}
{% block content %}


<div class="card-group team-cards">
  <div class="card">
    <img class="card-img-top rounded-circle" src="https://avatars3.githubusercontent.com/u/12057651?s=460&v=4" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Janne Spijkervet</h5>
      <p class="card-text">
        <small class="text-muted">
          Artificial Intelligence student at the University of Amsterdam. Working at the UvA Intelligence Robotics Lab. Also a composer and musician :)
        </small>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <a href="https://github.com/spijkervet" target="_blank">
            <img style="width: 40px;" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"/>
          </a>
        </small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top rounded-circle" src="https://openclipart.org/download/247324/abstract-user-flat-1.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tim Müller</h5>
      <p class="card-text">
        <small class="text-muted">
          Artificial Intelligence student at the University of Amsterdam.
        </small>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <img style="width: 40px;" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"/>
        </small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top rounded-circle" src="https://scontent-ams3-1.xx.fbcdn.net/v/t31.0-8/21122678_734180443432579_5200306872146963801_o.jpg?_nc_cat=0&oh=f141ea6ac050a61ed981eb0e4c40ff93&oe=5B823D38" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Chris Al Gerges</h5>
      <p class="card-text">
        <small class="text-muted">
          Artificial Intelligence student at the University of Amsterdam.
        </small>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <img style="width: 40px;" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"/>
        </small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top rounded-circle" src="https://openclipart.org/download/247324/abstract-user-flat-1.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mirka Schouten</h5>
      <p class="card-text">
        <small class="text-muted">
          Artificial Intelligence student at the University of Amsterdam.
        </small>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <img style="width: 40px;" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"/>
        </small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top rounded-circle circle-img" src="https://scontent-ams3-1.xx.fbcdn.net/v/t31.0-8/13559218_1739283752986798_6242473125290221362_o.jpg?_nc_cat=0&oh=9922226bed11591e00d9c40f96b08cc9&oe=5B932263" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Charlotte Kaandorp</h5>
      <p class="card-text">
        <small class="text-muted">
          Artificial Intelligence student at the University of Amsterdam.
        </small>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <img style="width: 40px;" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"/>
        </small>
      </p>
    </div>
  </div>


</div>

<!-- <div class="row align-items-center">
<div class="col-12 text-center">
IRL
</div>
</div> -->

<!-- <div style="padding-top:10%">
<div class="jumbotron">
<h1 class="display-3">Hello, world!</h1>
<p class="lead"><a href="http://getbootstrap.com">Bootstrap 4 Boilerplate</a></p>
<hr class="my-4">
<div>
<b>Your e-mail: {{ user.email }}</b>
<br>
<i>Project: {{ app_info.name }}</i>
<p>
<div id="time"></div>
<div id="version"></div>
</p>
</div>
</div>

</div> -->

<!-- BODY css / scripts -->
{% endblock %}
